body{
  background-color: black;
  color: white;
}
h1{
  text-align: center;
  font-family: fantasy;
}

p{
  text-align: center;
  font-size: 100px;
  font-family: fantasy;
  display: block;
  width: 600px;
  margin: 0 auto;
}
.hide {
  display: none;
}

.skill:hover + .hide {
  text-align: center;
  display: block;
  color: red;
}
img.gif{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button{

  position: relative;
  padding: 10px 24px;
  position: relative;
  border-radius: 12px;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  animation-iteration-count: infinite;
}
.button:hover{
  box-shadow: 0 12px 16px 0 rgba(255,255,255,255), 0 17px 50px 0 rgba(255,255,255,255);
}
button{
  display: block;
  margin : auto;
}
